@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --primary_color: rgb(255, 52, 1);
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

section {
    padding: 5em 2em;
}

input[type=range] {
    height: 38px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 20%;
    background-color: #F2F2F2;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: var(--primary_color);
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF3434;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #FF3434;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #000000;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FF3434;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #FF3434;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 1px solid #000000;
    height: 30px;
    width: 15px;
    border-radius: 5px;
    background: #000000;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FF3434;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FF3434;
}

.flipswitch {
    position: relative;
    width: 86px;
    margin-left: 48%;
    margin-bottom: 10px;
}

.flipswitch input[type=checkbox] {
    display: none;
}

.flipswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 8px;
}

.flipswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.flipswitch-inner:before,
.flipswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.flipswitch-inner:before {
    content: "ON";
    padding-left: 12px;
    background-color: #FF3434;
    color: #FFFFFF;
}

.flipswitch-inner:after {
    content: "OFF";
    padding-right: 12px;
    background-color: #EBEBEB;
    color: #888888;
    text-align: right;
}

.flipswitch-switch {
    width: 31px;
    margin: -3.5px;
    background: #000000;
    border: 1px solid #999999;
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 59px;
    transition: all 0.3s ease-in 0s;
}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-inner {
    margin-left: 0;
}

.flipswitch-cb:checked+.flipswitch-label .flipswitch-switch {
    right: 0;
}