@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --primary_color: rgb(255, 52, 1);
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.home-button{
    text-decoration: underline;
}

.navigation_bar {
    background: white;
    padding: 1em;
}

.navigation_bar .logo {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    margin-right: 20;
    white-space: nowrap;
    inline-size: min-content;
}

.navigation_bar .logo span {
    color: var(--primary_color);
}

.navigation_bar nav {
    display: none;
}

.navigation_bar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: space-between;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
}

nav {
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
    background: var(--culoarePrimara);
    height: 100vh;
    padding: 1em;
}

nav ul.main_navigation_bar {
    margin-top: 5em;
    margin-left: 15em;
}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
    font-size: 1.3em;
    text-align: right;
}

nav li a:hover {
    font-weight: bold;
}

.navigation_bar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
}

.navigation_bar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
}

.navigation_bar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.navigation_bar nav a {
    color: black;
    font-size: 1.5em;
    padding: .1em 1em;
}

.navigation_bar nav ul.main_navigation_bar {
    margin-top: 0;
    margin-left: 8em;
}

li.aboutButton a {
    color: var(--primary_color);
    border: 3px solid var(--primary_color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -.2em;
}

li.aboutButton a:hover {
    background: var(--primary_color);
    color: white;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.hero .sub_head {
    text-align: center;
    margin-top: -2em;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10;
    letter-spacing: .2em;
}

.hero .description {
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: large;
}

.hero .explore_assets_button {
    text-align: center;
    background: var(--primary_color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: .5em;
    font-weight: normal;
    display: inline-block;
    margin: .4em;
}

.hero .explore_assets_button:hover {
    background-color: red;
    font-weight: bold;
}

.section_creators {
    background: var(--primary_color);
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.section_creators ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section_creators ul li {
    background: red;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 1em;
    border-radius: 1em;
}

.section_creators ul li img {
    width: 100px;
    height: auto;
    border: 3px solid red;
    border-radius: 50%;
    margin-top: -4.5em;
}