@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
    --primary_color: rgb(255, 52, 1);
}

body {
    background: #F2F2F2;
    margin: 0;
    font-family: 'Poppins';
}

.home-button {
    text-decoration: underline;
}

section {
    padding: 5em 2em;
}

.hero {
    text-align: center;
}

.hero .sub_head {
    text-align: center;
    margin-top: -2em;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10;
    letter-spacing: .2em;
}

.hero .description {
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: normal;
    font-size: large;
}

.hero .explore_assets_button {
    text-align: center;
    background: var(--primary_color);
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: .5em;
    font-weight: normal;
    display: inline-block;
    margin: .4em;
}

.hero .explore_assets_button:hover {
    background-color: red;
    font-weight: bold;
}

.section_creators {
    background: var(--primary_color);
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.section_creators ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.section_creators ul li {
    background: red;
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 1em;
    border-radius: 1em;
}

.section_creators ul li img {
    width: 100px;
    height: auto;
    border: 3px solid red;
    border-radius: 50%;
    margin-top: -4.5em;
}