<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cognite Industrial Data</title>
    <link rel="stylesheet" href="../../public/styles/assets.css">
</head>

<body onload="loadAssets()">

    <div class="navigation_bar">
        <div class="container">
            <a class="logo" href="../../FrontEnd/templates/home.html">Cognite Industrial<span> Data</span></a>
            <nav>
                <ul class="main_navigation_bar">
                    <li class="current_page">
                        <a href="../../FrontEnd/templates/home.html">Home</a>
                    </li>
                    <li><a href="../../FrontEnd/templates/assets.html">Assets</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <a href=""></a>
    <section class="assets">
        <script>
            function loadAssets() {
                fetch('http://127.0.0.1:5000/assets')
                    .then(function(response) {
                        return response.json()
                    })
                    .then(function(complete_response) {
                        let data = ''
                        complete_response.map((values) => {
                            console.log(values)
                            data += `
                            <div class="card">
                                <img src="/public/images/asset.svg" alt="Avatar" style="width:100%">
                                <b>${values.name}</b>
                                <p><a href=/FrontEnd/templates/data.html?${values.id}&${values.name}>${values.id}</a></p>
                                <p>Tracking data: ${values.used}</p>
                            </div>
                            `
                            document.getElementById('cards').innerHTML = data
                        })
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            }
        </script>
        <div class="container">
            <div class="grid-container" id="cards"></div>
        </div>
    </section>

</body>

</html>