<!DOCTYPE html>
<html>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cognite Industrial Data</title>
    <link rel="stylesheet" href="/public/styles/data.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>

<body onload="initInterpolation()">
    <div class="navigation_bar">
        <div class="container">
            <a class="logo" href="/FrontEnd/templates/home.html">Cognite Industrial<span> Data</span></a>
            <nav>
                <ul class="main_navigation_bar">
                    <li class="current_page">
                        <a href="/FrontEnd/templates/home.html">Home</a>
                    </li>
                    <li><a href="/FrontEnd/templates/assets.html">Assets</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <section class="info">
        <div>
            <h1 style="text-align: center;font-size: 35px;margin: 1px;" id="title"></h1>
            <h2 style="text-align: center;margin-top: 10px;" id="assetID"></h2>
        </div>
        <script>
            var queryString = decodeURIComponent(window.location.search);
            queryString = queryString.substring(1);
            var queries = queryString.split("&");
            document.getElementById("title").innerText = queries[1]
            document.getElementById("assetID").innerText = 'Asset id: ' + queries[0]
        </script>

        <div style="height: 75%; width: 75%; margin-left: 12%;">
            <canvas id="graph"></canvas>
        </div>
        <div style="text-align: center;">Outlier Detection</div>
        <div class="flipswitch">
            <input type="checkbox" name="flipswitch" class="flipswitch-cb" id="fs" onchange="updateColors()">
            <label class="flipswitch-label" for="fs">
                <div class="flipswitch-inner"></div>
                <div class="flipswitch-switch"></div>
            </label>
        </div>
        <div style="text-align: center;">
            <form>
                Select the start and end date for collecting data
                <input type="text" name="calendar" size="22" id="date_range" , onchange="getGraphData();getData()">
                <script>
                    $(function() {
                        $('input[name="calendar"]').daterangepicker({
                            opens: 'center'
                        });
                    });
                </script>
            </form>
        </div>
        <script>
            var outlier_color = "rgb(255, 52, 1)"
            var anomaly_index = []
            const outliers = (ctx, value) => anomaly_index.includes(ctx.p0DataIndex + 1) || anomaly_index.includes(ctx.p0DataIndex) ? value : undefined
            let graph = document.getElementById("graph").getContext('2d')
            let chart = new Chart(graph, {
                type: "line",
                data: {
                    labels: 'Data',
                    datasets: [{
                        label: "Values",
                        backgroundColor: "rgba(0,0,0,1)",
                        borderColor: "rgb(255, 52, 1)",
                        segment: {
                            borderColor: ctx => outliers(ctx, outlier_color)
                        },
                        data: 'Values'
                    }]
                },
                spanGaps: true,
                options: {
                    scales: {
                        xAxes: {
                            ticks: {
                                display: true,
                                autoskip: true,
                                maxTicksLimit: 6,
                                maxRotation: 0
                            }
                        }
                    },
                    responsive: true,
                    spanGaps: true,
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                }
            })

            function updateColors() {
                let flip = document.querySelector('#fs')
                if (flip.checked == true) {
                    outlier_color = "rgb(0, 0, 1)"
                    chart.update()
                } else if (flip.checked == false) {
                    outlier_color = "rgb(255, 52, 1)"
                    chart.update()
                }
            }

            function get_anomaly_index(data) {
                console.log("GETTING OUTLIER INDEXES")
                for (i = 0; i < data.length; i++) {
                    if (data[i][2] == 1) {
                        anomaly_index.push(i)
                    }
                }
            }

            async function updateChart(new_data) {
                anomaly_index = []
                console.log("UPDATING CHART")
                let dates = []
                let values = []
                for (i = 0; i < new_data.length; i++) {
                    dates.push(new_data[i][0])
                    values.push(new_data[i][1])
                }
                chart.data.datasets[0].data = values
                chart.data.labels = dates
                chart.update()
                get_anomaly_index(new_data)
            }
        </script>
        <script>
            async function getGraphData() {
                console.log("GATHERING CHART DATA")
                let id = queryString.split("&");
                let calendar_range = document.getElementById('date_range').value
                let interpolation_rate = document.getElementById('slider').value
                const url = 'http://127.0.0.1:5000/datapoints?' + new URLSearchParams({
                    id: id[0],
                    choice: "all",
                    range: calendar_range,
                    int_rate: interpolation_rate,
                    outliers: 'YES'
                })
                const response = await fetch(url)
                    .then(function(response) {
                        return response.json()
                    })
                    .then(function(complete_response) {
                        let data = []
                        for (i in complete_response.value) {
                            let value_date = []
                            value_date.push(complete_response.value[i][0].substring(5, 16))
                            value_date.push(complete_response.value[i][1])
                            value_date.push(complete_response.value[i][2])
                            data.push(value_date)
                        }
                        updateChart(data)
                    })
            }
        </script>
        <form>
            <div style="text-align: center;margin: 5px;">
                <p>Interpolation rate: <output type="text" id="points" value=""></output></p>
            </div>
            <div style="text-align: center;">
                <input type="range" id="slider" name="rangeInput" min="100" max="1000" step="100" onchange="updateInterpolation(this.value)">
            </div>

            <script>
                function updateInterpolation(val) {
                    document.getElementById('points').value = val + ' points';
                    getGraphData()
                }
            </script>
            <script>
                function initInterpolation() {
                    document.getElementById('points').value = '600 points';
                }
            </script>
        </form>
        <form class="choice-group">
            <div style="text-align: center;">
                Operation to perform on data:
                <input type="radio" name="choice" value="average" onchange="getData()">Average
                <input type="radio" name="choice" value="maximum" onchange="getData()">Maximum
                <input type="radio" name="choice" value="minimum" onchange="getData()">Minimum
            </div>
            <script>
                function getData() {
                    let queryString = decodeURIComponent(window.location.search);
                    queryString = queryString.substring(1);
                    let id = queryString.split("&");
                    let calendar_range = document.getElementById('date_range').value
                    let interpolation_rate = document.getElementById('slider').value
                    let radio_choice = document.querySelector('input[name="choice"]:checked').value
                    fetch('http://127.0.0.1:5000/datapoints?' + new URLSearchParams({
                            id: id[0],
                            choice: radio_choice,
                            range: calendar_range,
                            int_rate: interpolation_rate,
                            outliers: 'NO'
                        }))
                        .then(
                            function(response) {
                                return response.json()
                            }
                        )
                        .then(
                            function(complete_response) {
                                console.log(complete_response)
                                document.getElementById('value').innerHTML = complete_response.value
                            }
                        )
                        .catch((err) => {
                            console.log(err)
                        })
                }
            </script>
        </form>
        <div id="value" style="text-align: center;font-weight: bolder;"></div>
    </section>

</body>

</html>