<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cognite Industrial Data</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>
    <div class="navigation_bar">
        <div class="container">
            <a class="logo" href="/home">Cognite Industrial<span> Data</span></a>

            <!-- <img id="butonMobilAfisareMeniu" class="meniuMobil" src="Imagini/liniiMeniuHamburger.svg" alt="Deschide Meniu"> -->

            <nav>
                <!-- <img id="butonMobilIesireMeniu" class="meniuMobilIesire" src="Imagini/X.svg" alt="Inchide Meniu"> -->

                <ul class="main_navigation_bar">
                    <li class="current_page">
                        <a href="/home">Home</a>
                    </li>
                    <li><a href="/assets">Assets</a></li>
                    <li><a href="#">Check data</a></li>
                </ul>

                <ul class="secondary_navigation_bar">
                    <li><a href="#">Log in</a></li>
                    <li class="aboutButton"><a href="#">About project</a></li>
                </ul>
            </nav>
        </div>
    </div>
</body>

</html>